version: '3.7'

services:
  jupyter:
    image: jupyter/all-spark-notebook
    command: start-notebook.sh --port 8850
    restart: 'no'
    environment:
      TZ: '${TZ}'
      JUPYTER_ENABLE_LAB: 'yes'
      NB_UID: '${UID}'
      NB_GID: '${GID}'
      RESTARTABLE: 'yes'
    user: 'root'
    expose:
      - '8850'
    ports:
      - '127.0.0.1:8850:8850'
    working_dir: /home/jovyan/work
    volumes:
      - ./:/home/jovyan/work
